---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}


<!-- tags list -->
<div class="tags-list">
	{% assign tags_list = site.tags %}
	{%if tags_list.first[0] == null %}	
	  {% for tag in tags_list %} 
    	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref" class="tags-list-item">{{ tag }}</a>
		{% endfor %}
	{% else %}
    {% for tag in tags_list %} 
    	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref" class="tags-list-item">{{ tag[0] }} </a>
    {% endfor %}
	{% endif %}
</div>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
